<nav aria-label="Page navigation mt-5">
    <ul class="pagination justify-content-center">
      <li class="page-item"><a class="page-link">A</a></li>
      <li class="page-item"><a class="page-link">B</a></li>
      <li class="page-item"><a class="page-link">C</a></li>
      <li class="page-item"><a class="page-link">D</a></li>
      <li class="page-item"><a class="page-link">E</a></li>
      <li class="page-item"><a class="page-link">F</a></li>
      <li class="page-item"><a class="page-link">G</a></li>
      <li class="page-item"><a class="page-link">H</a></li>
      <li class="page-item"><a class="page-link">I</a></li>
      <li class="page-item"><a class="page-link">J</a></li>
      <li class="page-item"><a class="page-link">K</a></li>
      <li class="page-item"><a class="page-link">L</a></li>
      <li class="page-item"><a class="page-link">M</a></li>
      <li class="page-item"><a class="page-link">N</a></li>
      <li class="page-item"><a class="page-link">O</a></li>
      <li class="page-item"><a class="page-link">P</a></li>
      <li class="page-item"><a class="page-link">Q</a></li>
      <li class="page-item"><a class="page-link">R</a></li>
      <li class="page-item"><a class="page-link">S</a></li>
      <li class="page-item"><a class="page-link">T</a></li>
      <li class="page-item"><a class="page-link">U</a></li>
      <li class="page-item"><a class="page-link">V</a></li>
      <li class="page-item"><a class="page-link">W</a></li>
      <li class="page-item"><a class="page-link">X</a></li>
      <li class="page-item"><a class="page-link">Z</a></li>
    </ul>
  </nav>
<div class="container">
    <app-characters></app-characters>
</div>
